body {
	background: #0375B4;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	max-width: 2400px;
	margin: 0 auto;	
	background: #fff;
}


#projects {
	background: #0375B4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0375B4, #025A8A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0375B4, #025A8A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0375B4, #025A8A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0375B4, #025A8A); /* Standard syntax */
}

#headerSection {
	background: #0375B4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0375B4, #025A8A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0375B4, #025A8A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0375B4, #025A8A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0375B4, #025A8A); /* Standard syntax */
}
 


